<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="pagetext">My name's Craig Loewen. I'm currently a Program Manager at Microsoft, and before
                    that I studied Mechatronics Engineering at the University of Waterloo. I pride myself in
                    being a cross-discipline problem solver. I've worked in a wide range of industries, from automotive
                    to
                    software, and have a wide range of skills from development to management. I enjoy designing,
                    creating,
                    and leaving things better from where I found them. </br>
                    </br>
                    </br>
                    I'm a South African Canadian, and have lived in Europe, Africa, and Canada. My main hobbies are
                    weight lifting, playing the guitar and
                    hiking.
                </p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary button-space"
                        onclick="try { ga('send', 'event', 'Resume', 'click', 'Resume'); } location.href = '/download_src/Craig_Loewen_Resume.pdf';">My
                        Resume</button>
                </div>
            </div>
            <div class="col-md-5">
                <img src="/img/WaterlooPhoto.jpg" class="img-responsive"></img>
            </div>
        </div>
        {% include news.html %}
    </div>
</section>
