<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Spot Me is an Open Source application that uses a Microsoft Kinect to determine 
                        the position of your skeleton, analyze it, and then give you personalized advice on the way
                         to improve your form when doing an exercise. If you’re new to weights it will coach you on how
                          to do the exercise properly, and if you’re experienced it will show you where your form can be
                           improved. Spot Me is made to be easy to use, and accessible for everyone. </p>
                </div>
                <div class="col-lg-6">
                    <div id="youTubePlayer"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <button type="button" class="btn btn-primary space-buffer" onclick="window.open('https://www.github.com/craigaloewen/spotmecode','_blank'); ga('send', 'event', 'View_Source_Code', 'click', 'View_SourceCode');">View Source Code on Github</button>
                </div>
                <div class="col-lg-6 text-center">
                    <button type="button" class="btn btn-primary space-buffer" onclick="window.open('download_src/SpotMe.zip','_blank'); ga('send', 'event', 'Download', 'click', 'Download_ZIP');">Download SpotMe.zip</button>
                </div>
            </div>
        </div>
    </section>
