<section class="success" id="spot-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>WatVision</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="pagetext">WatVision is a project that aims to empower every blind or visually impaired person to use any touch screen. 
                    The project was my Fourth Year Design Project for my Mechatronics Engineering Degree at the University of Waterloo.
                    We ended up winning the national James Dyson award for all of Canada as well as the General Motors Innovation Award, and the 2nd place in the people's choice award. <br/> <br/>
                    The WatVision system includes an app, and a ring that you wear on your finger. You run the app, and point the camera at the touch screen
                    you wish to interact with. The app will tell you when it's seen and understood the seen. After that, you can move the finger wearing
                    the ring around the screen and it will read out to you whatever is underneath your finger. If you want to learn more (or see it in action)
                    check out the website!
                    </p>
            </div>
            <div class="col-lg-6 text-center" onclick="ga('send', 'event', 'WatVision', 'click', 'WatVision_VisitWebsite');">
                <a href="https://watvision.github.io">
                    <img src="/img/watvisionaward.jpg" class="img-responsive"></img>
                </a>
                <button type="button" class="btn btn-primary button-space" onclick="ga('send', 'event', 'WatVision', 'click', 'WatVision_VisitWebsite'); window.open('https://watvision.github.io','_blank');">View the Website</button>
            </div>
        </div>
    </div>
</section>
