<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<!-- Custom Theme JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/js/freelancer.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SE3SC9XDNN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SE3SC9XDNN');
</script>

<!-- Video js -->
<script>
  //This loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  // This function creates an <iframe> (and YouTube player) after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('youTubePlayer', {
          videoId: '9AbamDR33lc', //the code at the end of your old iframe embed script
          playerVars: {
              'autoplay': 0,  // Disable autoplay
              'start': 347    // Start at 347 seconds (but don't play automatically)
          },
          events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
          }
      });
  }
  function onPlayerReady(event) {
      // No autoplay actions here
  }
  function onPlayerStateChange(event) {
      // track when user clicks to Play
      if (event.data == YT.PlayerState.PLAYING) {
          gtag('event', 'video_play');
      }
      // track when user clicks to Pause
      if (event.data == YT.PlayerState.PAUSED) {
          gtag('event', 'video_pause');
      }
      // track when video ends
      if (event.data == YT.PlayerState.ENDED) {
          gtag('event', 'video_finish');
      }
  }
</script>
