{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="{{ post.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.name }}</h2>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/{{ post.fullimg }}" class="img-responsive img-centered" alt="">
                        {{ post.content }}
                        <br/>
                        ----------
                        <br/>
                        You can learn more about me below
                        <ul class="list-inline item-details">
                            {% if post.twitter %}
                            <li>
                                <a href="https://www.twitter.com/{{ post.twitter }}" onclick="ga('send', 'event', '{{ post.modalID }}', 'click', '{{ post.modalID }}_twitter');">Twitter - {{ post.twitter }} <i class="fa fa-twitter"></i></a>
                            </li>
                            {% endif %}
                            {% if post.github %}
                            <li>
                                <a href="https://www.github.com/{{ post.github }}" onclick="ga('send', 'event', '{{ post.modalID }}', 'click', '{{ post.modalID }}_github');">Github - {{ post.github }} <i class="fa fa-github"></i></a>
                            </li>
                            {% endif %}
                            {% if post.email %}
                            <li>
                                Email: {{ post.email }}
                            </li>
                            {% endif %}
                            {% if post.email %}
                            <li>
                                Personal Website: <a href="http://{{ post.website }}" onclick="ga('send', 'event', '{{ post.modalID }}', 'click', '{{ post.modalID }}_website');">{{ post.website }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}