<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Other Projects</h2>
                <p class="pagetext">I've worked on tons of other projects and here are some highlights! Click on an image below to learn more:</p>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row align-items-center">
            {% for proj in site.proj_files reversed %}
            <div class="col-sm-4 text-center portfolio-item">
                <p class="pagetext">{{ proj.headertext }} </p>
                <a href="#{{ proj.modalID }}" class="portfolio-link" data-toggle="modal" onclick="ga('send', 'event', 'Projects', 'click', 'Projects_{{ proj.modalID }}');">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ proj.img }}" class="img-responsive" alt=""></img>
                    <p>{{ proj.shortdescription }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
