<div class="et-hero-tabs-container-attopofpage">
      <a class="et-hero-tab" href="http://www.craigloewen.com" onclick="ga('send', 'event', 'Navigation', 'click', 'Main Page'); window.location = 'http://www.craigloewen.com';">More about Craig Loewen</a>
      <span class="et-hero-tab-slider"></span>
    </div>

<%= render 'spotMe' %>