<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">
    
    <meta http-equiv="refresh" content="0; url=http://craigloewen.com/#spot-me" />

    <p><a href="http://craigloewen.com/#spot-me">This link is outdated, please click me to go to the correct page!</a></p>        

    {% include footer.html %}

    {% include otherprojmodals.html %}

    {% include javascript.html %}

    </body>

</html>
        
        
        
        
        
        
        